{% extends 'dash/base.html' %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'gdpr.user.consent.create' request.user.pk %}">
              <i class="fa fa-cloud-download"></i>
              Create User Consent
            </a>
          </li>
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'example.user.consent.unsubscribe.list' %}">
              <i class="fa fa-shield"></i>
              Unsubscribe Tokens
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
