{% extends 'dash/base.html' %}

{% block sub_title %}
  Unsubscribe from {{ userconsent.consent.name }}
{% endblock sub_title %}

{% block sub_heading %}
  Unsubscribe from {{ userconsent.consent.name }}
{% endblock sub_heading %}

{% block content %}
  {% if next %}
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
            <a href="{{ next }}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="pure-g">
    <div class="pure-u-1">
      <br>
      {% include 'gdpr/_unsubscribe.html' %}
    </div>
  </div>
{% endblock %}
