{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  User Consent Unsubscribe Tokens
{% endblock title %}

{% block sub_heading %}
  User Consent Unsubscribe Tokens
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.dash' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <i class="fa fa-info-circle"></i>
      To test the unsubscribe view:
      <ol>
        <li>
          <a href="{% url 'gdpr.user.consent.create' request.user.pk %}?next={{ request.path }}">
            Create a user consent for the 'Special Offers' consent type.
          </a>
        </li>
        <li>
          Generate an entry in the table below by running the
          "<code>generate_tokens_for_special_offers</code>"
          management command.
        </li>
        <li>
          When you have an entry in the table, click on the
          token link to test the unsubscribe view...
        </li>
      </ol>
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>User</th>
            <th>Consent</th>
            <th>Consent Given</th>
            <th>Created</th>
            <th>Deleted</th>
          </tr>
        </thead>
        <tbody>
          {% for x in object_list %}
            <tr valign="top">
              <td>
                {{ x.user_consent.name }}
              </td>
              <td>
                {{ x.user_consent.consent.name }}
                <small>
                  ({{ x.user_consent.consent.slug }})
                  <br>
                  <a href="{% url 'user.consent.unsubscribe' x.token %}">
                    {{ x.token }}
                  </a>
                </small>
              </td>
              <td>
                <a href="{% url 'gdpr.user.consent.update' x.pk %}?next={{ request.path }}">
                  <i class="fa fa-edit"></i>
                  {% if x.user_consent.consent_given %}
                    Yes
                  {% else %}
                    No
                  {% endif %}
                </a>
                </a>
              </td>
              <td>
                {{ x.created|date:'d/m/Y H:i' }}
              </td>
              <td>
                {% if x.is_deleted %}
                  {{ x.date_deleted|date:'d/m/Y H:i' }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
