<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>GDPR</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'gdpr.consent.list' %}" class="pure-menu-link">
      <i class="fa fa-shield"></i>
      Consent Types
    </a>
  </div>
  {% if gdpr_settings.show_frequency %}
    <div class="r-box">
      <a href="{% url 'gdpr.frequency.list' %}" class="pure-menu-link">
        <i class="fa fa-shield"></i>
        Communication Frequencies
      </a>
    </div>
  {% endif %}
  {% if gdpr_settings.show_method %}
    <div class="r-box">
      <a href="{% url 'gdpr.method.list' %}" class="pure-menu-link">
        <i class="fa fa-shield"></i>
        Communication Methods
      </a>
    </div>
  {% endif %}
  <div class="r-box">
    <a href="{% url 'gdpr.form.settings.list' %}" class="pure-menu-link">
      <i class="fa fa-shield"></i>
      Form Settings
    </a>
  </div>
</div>
