{% if is_valid_user_consent %}
  <i class="fa fa-info-circle"></i>
  {% if userconsent.consent_given %}
    Click on the button to unsubscribe from
    <strong>
      {{ userconsent.consent.name }}
    </strong>
    {% include '_form.html' with submit=userconsent.consent.unsubscribe_caption %}
  {% else %}
    You have been unsubscribed from {{ userconsent.consent.name }}.
  {% endif %}
{% else %}
  <i class="fa fa-warning"></i>
  Sorry, we cannot find this unsubscribe request.
  <br>
  <a href="{% url 'web.contact' %}">
    Please contact us by clicking on this link...
  </a>
{% endif %}
