{% if consent_list %}
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <th>Consent Type</th>
            <th>Consent given?</th>
            <th>Date</th>
            <th>Updated By</th>
            <th>Comment</th>
            <th>Audit</th>
          </tr>
        </thead>
        <tbody>
          {% for x in consent_list %}
            <tr valign="top">
              <td>
                {{ x.consent.name }}
              </td>
              <td>
                <a href="{% url 'gdpr.user.consent.update' x.pk %}">
                  <i class="fa fa-edit"></i>
                  {% if x.consent_given %}
                    Yes
                  {% else %}
                    No
                  {% endif %}
                </a>
              </td>
              <td>
                {{ x.date_updated|date:'d/m/Y H:i' }}
              </td>
              <td>
                {% if x.user_updated %}
                  {{ x.user_updated.get_full_name }}
                  <small>
                    {{ x.user_updated.username }}
                  </small>
                {% endif %}
              </td>
              <td>
                {{ x.comment }}
              </td>
              <td>
                <a href="{% url 'gdpr.user.consent.audit.list' x.pk %}">
                  <i class="fa fa-history"></i>
                  Audit
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endif %}
{% if not object.deleted %}
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="{% url 'gdpr.user.consent.create' consent_user.pk %}" class="pure-menu-link">
          <i class="fa fa-plus"></i>
          Add Consent
        </a>
      </li>
    </ul>
  </div>
{% endif %}
