{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Form Settings
{% endblock title %}

{% block sub_heading %}
  Form Settings
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'gdpr.form.settings.create' %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              Create Form Settings
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Form Notice</th>
          </tr>
        </thead>
        <tbody>
          {% for o in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'gdpr.form.settings.update' o.pk %}">
                  <i class="fa fa-edit"></i>
                  {{ o.slug }}
                </a>
              </td>
              <td>
                {% autoescape off %}
                  {{ o.form_notice }}
                {% endautoescape %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
