{% extends 'dash/base.html' %}

{% block sub_title %}
  {{ object.name }}
{% endblock sub_title %}

{% block sub_heading %}
  {% if object.is_deleted %}
    <del>
  {% endif %}
  {{ object.name }}
  {% if object.is_deleted %}
    </del>
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'gdpr.consent.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'gdpr.consent.user.list' object.pk %}" class="pure-menu-link">
              <i class="fa fa-shield"></i>
              List of Consents
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          <tr valign="top">
            <td>
              <strong>Name</strong>
            </td>
            <td>
              <a href="{% url 'gdpr.consent.update' object.pk %}">
                <i class="fa fa-edit"></i>
                {% if object.is_deleted %}
                  <del>
                {% endif %}
                {{ object.name }}
                {% if object.is_deleted %}
                  </del>
                  <br>
                  <strong>
                    Deleted on
                  </strong>
                  {{ object.date_deleted|date:'d/m/Y H:i' }}
                  by
                  {{ object.user_deleted.username }}
                {% endif %}
              </a>
            </td>
          </tr>
          <tr valign="top">
            <td>
              <strong>Display a tick box</strong>
            </td>
            <td>
              {% if object.show_checkbox %}
                Yes <small>(show a tick box)</small>
              {% else %}
                No <small>(don't display a tick box)</small>
              {% endif %}
            </td>
          </tr>
          <tr valign="top">
            <td>
              <strong>Tick to continue</strong>
            </td>
            <td>
              {% if object.consent_required %}
                Yes <small>(cannot continue unless the box is ticked)</small>
              {% else %}
                No <small>(if the box is not ticked, the user can continue, but has not given consent)</small>
              {% endif %}
            </td>
          </tr>
          <tr valign="top">
            <td>
              <strong>Message</strong>
            </td>
            <td>
              {{ object.message }}
            </td>
          </tr>
          <tr valign="top">
            <td>
              <strong>Message</strong>
              <small>(if the box is not ticked)</small>
            </td>
            <td>
              {{ object.no_consent_message }}
            </td>
          </tr>
          {% if gdpr_settings.show_frequency %}
            <tr valign="top">
              <td>
                <strong>Frequency</strong>
              </td>
              <td>
                {% for x in object.get_frequencies %}
                  {{ x.frequency.name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                  N/A
                {% endfor %}
              </td>
            </tr>
          {% endif %}
          {% if gdpr_settings.show_method %}
            <tr valign="top">
              <td>
                <strong>Methods</strong>
              </td>
              <td>
                {% for x in object.get_methods %}
                  {{ x.method.name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                  N/A
                {% endfor %}
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

