{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Consent Types
{% endblock title %}

{% block sub_heading %}
  Consent Types
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'gdpr.consent.create' %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              Create Consent
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            {% if gdpr_settings.show_frequency %}
              <th>Frequency</th>
            {% endif %}
            {% if gdpr_settings.show_method %}
              <th>Method</th>
            {% endif %}
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          {% for o in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'gdpr.consent.detail' o.pk %}">
                  {{ o.name }}
                </a>
              </td>
              {% if gdpr_settings.show_frequency %}
                <td>
                  {% for x in o.get_frequencies %}
                    {{ x.frequency.name }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </td>
              {% endif %}
              {% if gdpr_settings.show_method %}
                <td>
                  {% for x in o.get_methods %}
                    {{ x.method.name }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </td>
              {% endif %}
              <td>
                {{ o.created|date:'d/m/Y H:i' }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
