{% extends 'dash/base.html' %}

{% block sub_title %}
  {% if object %}
    Update
  {% else %}
    Create
  {% endif %}
  Consent
{% endblock sub_title %}

{% block sub_heading %}
  {% if object %}
    Update
  {% else %}
    Create
  {% endif %}
  Consent
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            {% if object %}
              <a href="{% url 'gdpr.consent.detail' object.pk %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% else %}
              <a href="{% url 'gdpr.consent.list' %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' %}
    </div>
  </div>
{% endblock %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_chosen.html' %}
{% endblock script_extra %}
