{% extends 'dash/base.html' %}

{% block sub_title %}
  Delete {{ object.method.name }} for {{ object.consent.name }}
{% endblock sub_title %}

{% block sub_heading %}
  Delete {{ object.method.name }} for {{ object.consent.name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'gdpr.consent.detail' object.consent.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      Are you sure you want to delete the
      <strong>{{ object.method.name }}</strong>
      communication method for
      <strong>{{ object.consent.name }}</strong>?
      {% include '_form.html' with submit="Delete Communication Method" %}
    </div>
  </div>
{% endblock %}


