{% extends 'dash/base.html' %}

{% block sub_title %}
  Delete {{ object.name }}
  Communication Frequency
{% endblock sub_title %}

{% block sub_heading %}
  Delete {{ object.name }}
  Communication Frequency
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'gdpr.method.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      Are you sure you want to delete the
      <strong>{{ object.name }}</strong>
      communication frequency?
      {% include '_form.html' with submit="Delete Communication Frequency" %}
    </div>
  </div>
{% endblock %}

