{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Communication Methods
{% endblock title %}

{% block sub_heading %}
  Communication Methods
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'gdpr.method.create' %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              Create Communication Method
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for o in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'gdpr.method.update' o.pk %}">
                  <i class="fa fa-edit"></i>
                  {{ o.name }}
                </a>
                <small>
                  ({{ o.slug }})
                </small>
              </td>
              <td>
                {{ o.description }}
              </td>
              <td>
                {{ o.created|date:'d/m/Y H:i' }}
              </td>
              <td>
                <a href="{% url 'gdpr.method.delete' o.pk %}">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
