{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Audit for {{ user_consent.user.get_full_name }}, {{ user_consent.consent.name }}
{% endblock title %}

{% block sub_heading %}
  Audit for {{ user_consent.user.get_full_name }}, {{ user_consent.consent.name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'user.redirect.contact' user_consent.user.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {{ user_consent.name }}
      said
      <strong>
        {% if user_consent.consent_given %}
          yes
        {% else %}
          no
        {% endif %}
      </strong>
      to receiving
      <strong>
        {{ user_consent.consent.name|lower }}
      </strong>
      on
      {{ user_consent.date_updated|date:'d/m/Y H:i' }}
      {% if user_consent.comment %}
        <small>({{ user_consent.comment }})</small>
      {% endif %}
      <br>
      <br>
      The previous history is as follows:
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Date</th>
            <th>Consent?</th>
            <th>Updated By</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          {% for o in object_list %}
            <tr valign="top">
              <td>
                {{ o.date_updated|date:'d/m/Y H:i' }}
              </td>
              <td>
                {% if o.consent_given %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </td>
              <td>
                {% if o.user_updated %}
                  {{ o.user_updated.get_full_name }}
                {% endif %}
              </td>
              <td>
                {{ o.comment }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
