{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  User Consent for {{ consent.name }}
{% endblock title %}

{% block sub_heading %}
  User Consent for {{ consent.name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'gdpr.consent.detail' consent.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
          {% if gdpr_settings.can_download_csv %}
            <li class="pure-menu-item">
              <a href="{% url 'gdpr.consent.user.download' consent.pk %}" class="pure-menu-link">
                <i class="fa fa-file-excel-o"></i>
                Download CSV
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Consent?</th>
          </tr>
        </thead>
        <tbody>
          {% for o in object_list %}
            <tr valign="top">
              <td>
                {% if o.user %}
                  <a href="{% url 'user.redirect.contact' o.user.pk %}">
                {% endif %}
                {{ o.name }}
                {% if o.user %}
                  </a>
                  <small>
                    (<i class="fa fa-user"></i> {{ o.user.username }})
                  </small>
                {% endif %}
              </td>
              <td>
                {{ o.date_updated|date:'d/m/Y H:i' }}
              </td>
              <td>
                {% if o.consent_given %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
